/*Completed - Use CSS variables to maintain clean and reusable values for a color scheme.*/

/*!!!!TBC - Use flexbox and media queries to create a responsive grid layout.*/

/*Completed - Each CSS snippet should have a card-like layout with the CSS syntax wrapped in an [HTML pre element](https://developer.mozilla.org/en-US/docs/Web/HTML/Element/pre).*/

/*Completed - Each CSS snippet can easily be highlighted for copying on click using the [CSS user-select property](https://developer.mozilla.org/en-US/docs/Web/CSS/user-select).*/

/*Completed - Must incorporate a background color using a [CSS linear-gradient function](https://developer.mozilla.org/en-US/docs/Web/CSS/linear-gradient).*/

/*Completed - Must incorporate a bit of animation using the [CSS transition property](https://developer.mozilla.org/en-US/docs/Web/CSS/transition).*/

/*Grid work begins*/

/*Flexbox Row*/
.row {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
}

/*Flexbox Column*/
.column {
    display: flex;
    flex-direction: column;
}

/*CSS Grid Layout*/
.justify-center {
    display: grid;
    width: 100%;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: 1fr 1fr;
}

/*Color and style formatting begins*/
:root {
    --light: #DAD7CD;
    --header: #A3B18A;
    --lighter: #588157;
    --darker: #3A5A40;
    --background: #344E41;
}

p,
h1,
h2,
h3 {
    font-family: sans-serif;
}

h1,
header>p,
h3 {
    display: flex;
    justify-content: center;
    text-align: center;
}

h1,
h2,
h3,
.card-body {
    color: var(--header);
}

/*Text just under the h1*/
header>p {
    padding: 0, 10px;
    color: var(--light);
}

/*Main dark color of site*/
body {
    background-color: var(--background);
}

/*Linear Gradients - Area encompassing code*/
.code-block {
    color: var(--light);
    border-radius: 10px;
    background-image: linear-gradient(var(--darker), var(--lighter));
    padding: 50px;
    user-select: all;
}

/*Dashed border around card*/
figure {
    border: dashed var(--light);
}

/*Overlay Card with Title*/
.card-header {
    position: relative;
    margin: -20px 10px 0px 10px;
    padding-left: 5px;
    background-color: var(--background);
    border: solid var(--light);
    border-radius: 10px;
}

/*Box Transition Glow - There was a missing comma here*/
.code-card,
.card-header {
    border-radius: 8px;
    transition: all 0.5s ease-in-out;
}

/*Pseudo-class selector to make box transition glow*/
.code-card:hover,
.code-card:hover .card-header {
    box-shadow: inset 0px 0px 8px var(--header), 0 0 15px var(--header);
}